In [2]:
# Write a code to create a string with your name and print it.
name = "AMAN TIWARI"
print(name)

AMAN TIWARI

In [3]:
#Write a code to find the length of the string "Hello World"
s = "Hello World"
length = len(s)
print(length)

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
sliced_s = s[:3]
print(sliced_s)

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase
s = "hello"
uppercase_s = s.upper()
print(uppercase_s)

HELLO

In [8]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
new_s = s.replace("apple", "orange")
print(new_s)

I like orange

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [11]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [12]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
MYlist = ['a', 'b', 'c', 'd']
secondelement = my_list[1]
print(second_element)

b

In [13]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
MYlist = [10, 20, 30, 40, 50]
MYlist.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
MYtuple = (100, 200, 300)
print(MYtuple)

(100, 200, 300)

In [16]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
MYtuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = MYtuple[-2]
print(second_to_last_element)

blue

In [20]:
## Write a code to find the minimum number in the tuple (10, 20, 5, 15).
MYtuple = (10, 20, 5, 15)
minimum_number = min(MYtuple)
print(minimum_number)

5

In [22]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [23]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.(if kiwi is written in tuple then it will show true)
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [24]:
 # Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [25]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [26]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [27]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [28]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [34]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "aman", "age": 36, "city": "one"}
print(my_dict)

{'name': 'aman', 'age': 36, 'city': 'one'}

In [35]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'aman', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'aman', 'age': 25, 'country': 'USA'}

In [36]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'aman', 'age': 30}
name_value = my_dict['name']
print(name_value)

aman

In [37]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'aman', 'age': 22, 'city': 'knp'}
del my_dict['age']
print(my_dict)

{'name': 'aman', 'city': 'knp'}

In [38]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

In [39]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
import random
random_numbers = sorted(random.sample(range(1, 101), 5))
print(random_numbers)

[6, 25, 28, 86, 96]

In [42]:
'''
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
'''
import random
random_numbers = sorted(random.sample(range(1, 100), 5))
print(random_numbers)

[20, 34, 68, 70, 89]

In [43]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date"]
third_element = my_list[2]
print(third_element)

cherry

In [44]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
#30. Write a code to convert a list of strings into a set
my_list_of_strings = ["apple", "banana", "apple", "orange"]
my_set_of_strings = set(my_list_of_strings)
print(my_set_of_strings)

{'banana', 'apple', 'orange'}